.searchbar {
  height: 80%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: white;
  border-radius: 5px;
}

.searchbar__icon {
  width: 10%;
}

.searchbar__input {
  width: 80%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.2rem;
}

::placeholder {
  font-size: 1rem;
  color: black;
}

.searchbar--dark {
  background-color: rgb(75, 76, 76);
}

.searchbar--dark .searchbar__icon {
  filter: invert(100%);
}

.searchbar--dark .searchbar__input {
  background-color: rgb(75, 76, 76);
}

.searchbar--dark .searchbar__input::placeholder {
  color: white;
}
